<div class="container-project">

  <div class="left">
    <div class="" style="font-size: 20px">
      <%= @project.description %><br>
    </div> <p></p>

    <% @images.each do |image| %>
      <img src="<%= image.avatar %>" />
      <% if user_signed_in? %>
        <%= link_to 'Delete Image',
          image_path(image),
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
      <% end %>
    <% end %>

    <div class="">
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/"
        style="font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive"
      >Close Project</a>
    </div>

  </div>

  <div class="sidebar">
    <div class="right">
      <div class="" style="text-align: center">
        <img class="rounded-circle " src="../assets/Liz.jpg" style="width: 60px; height: 60px; margin-bottom: 10px;" />
      </div>
      <div class="" style="font-size: 20px; text-align: center; font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive">
        LIZ BALBINO<p></p>
      </div>
    </div>
    <hr>

    <div class="right">
      <big>
        <%= @project.title %><p></p>
      </big>
      <%= @project.project_type %><p></p>

      <small>
        Published
        <%= time_ago_in_words(@project.created_at) %>
        ago
      </small>
    </div>
    <hr>

    <div class="right">
      IMPLEMENT LIKE HERE !!!
    </div>
    <hr>

    <% if user_signed_in? %>
      <div >
          <%= link_to 'Edit Project', edit_project_path(@project) %>
      </div>

      <div class="">
        <%= link_to 'Delete Project',
        project_path(@project),
        method: :delete,
        data: {
          confirm: 'Are you sure?'
        }
        %>
      </div>

      <div class="">
        <%= simple_form_for [@project, @image] do |f| %>
          <%= f.input :avatar %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
