<div class="container-project">

  <div class="left">

    <div style="font-size: 50px; font-weight: 700; margin-bottom:20px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
      <%= @project.title %>
    </div>

    <div style="margin-bottom:50px; margin-left:auto; margin-right:auto; text-align:center; width:70%; font-size: 16px; font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif">
      <%= @project.description %><br>
    </div>

    <div class="">
      <% @images.each do |image| %>
        <img src="<%= image.avatar %>" /><p></p>
        <% if user_signed_in? %>
          <%= link_to 'Delete Image',
          image_path(image),
          method: :delete,
          data: { confirm: 'Are you sure?' }
          %>
        <% end %><p></p>
      <% end %>
    </div>

    <div class="">
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/"
      style="font-weight: 400;
      font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;"
      >Close Project</a>
    </div>

  </div>

  <div class="sidebar">
    <div class="right">
      <div class="" style="text-align: center">
        <img class="rounded-circle " src="../assets/Liz.jpg" style="width: 60px; height: 60px; margin-bottom: 10px;" />
      </div>
      <div class="" style="font-size: 20px; text-align: center; font-weight: 400;
      font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
        LIZ BALBINO<p></p>
      </div>
    </div>
    <hr>

    <div class="right">
      <div style="font-size: 15px; font-weight: 600;
      font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
      Client:
      </div>

      <div style="font-size:15px; font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;">
      <%= @project.project_client %><p></p>
      </div>

      <div style="font-size: 15px; font-weight: 600;
      font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
      Categories:
      </div>

      <div style="font-size:15px; font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;">
      <%= @project.project_type %><p></p>
      </div>

      <div style="font-size: 12px; font-weight: 400;
      font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
        Published
        <%= time_ago_in_words(@project.created_at) %>
        ago
      </div>
    </div>
    <hr>

    <div class="right">
      <div class="like-widget">
        <% if @like.present? %>
          <%= link_to fa_icon('thumbs-up 2x'), like_path(@like), method: :delete %>
        <% else %>
          <%= link_to fa_icon('thumbs-o-up 2x'), project_likes_path(@project), method: :post %>
        <% end %>
        <%= pluralize(@project.likes.count, 'like') %>
      </div>
    </div>
    <hr>

    <% if user_signed_in? %>
      <div >
          <%= link_to 'Edit Project', edit_project_path(@project) %>
      </div>

      <div class="">
        <%= link_to 'Delete Project',
        project_path(@project),
        method: :delete,
        data: {
          confirm: 'Are you sure?'
        }
        %>
      </div>

      <div class="">
        <%= simple_form_for [@project, @image] do |f| %>
          <%= f.input :avatar %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
